.parent{
    height: 100%;
    padding: 0px;
    background-color: white;
    padding: 8px;
    width: 100%;
    /*border:1px #eee solid;*/
    position: relative; /* Needed for absolute positioning of child */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.01px #eee solid;

}
.parent:hover{
    opacity: 0.9;
    cursor: pointer;
    background-color: rgb(249, 249, 249);
}
.cont{
    display: flex;
    align-items: center;
}
.cont>div:last-child{
    margin-left:20px;
    font-weight: 600;

}
.header{
    font-weight: 500;
}
.cont2{
}
.createdOn{
    color: rgb(85, 84, 84);
    font-size: 10px;
    font-weight: 200;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Delete button styling */
.delete {
    color: red; /* Text color */
    font-size: 12px;
    border-radius: 6px;
    margin-left: 20px;
    display: none; /* Hide by default */
  }
  
  /* Show the delete button only when the parent container is hovered */
  .parent:hover .delete {
    display: block;
  }