.parent{
    padding: 0px;
    background-color: white;
    padding: 8px;
    width: 100%;
    /*border:1px #eee solid;*/
    position: relative; /* Needed for absolute positioning of child */
    cursor: pointer;
    border-top: 0.01px #eee solid;
    height: 100%;

}
.mainContainer{
    width: 100%;
    height: auto;

    border: 0.01px #eee solid;
    border-radius: 6px;
    overflow: hidden;
    position: relative;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.04);
}
.parent:hover,.mainContainer{
    opacity: 0.9;
    cursor: pointer;
    background-color: rgb(249, 249, 249);
    border-top: 0.01px #eee solid;
}
.cont{
    display: flex;
    align-items: center;
}
.cont>div:last-child{
    margin-left:10px;
    font-weight: 600;

}
.header{
    font-weight: 500;
}
.cont2{
}
.createdOn{
    color: rgb(85, 84, 84);
    font-size: 10px;
    font-weight: 200;
}

/* Delete button styling */
.delete {
    border-radius: 6px;
    width:100%;
  }
  
  /* Show the delete button only when the parent container is hovered */

  .imageCont{
    width: 100%;
    height: 150px;
    background-position: center;
    background-size: cover;
  }

  .moreActionButton{
    padding: 8px;
    font-size: 20px;
  }
  .moreActionButton:hover{
    opacity: 0.85;
  }
  .moreActionContainer{
    position: absolute;
    right: 0;
    top: 0;
    display: block;

  }