.headingContainer {
    width: 100%;
    /*margin: 10px;
    margin-left: 73px;*/
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    padding: 12.3px;
    padding-left: 80px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;

    border-bottom: 0.1px rgb(212, 210, 210) solid;
    box-shadow: 0 0 2px 0 rgb(212, 210, 210);
    min-height: 55px;
    max-height: 55px;

  }
  
  .title {
    font-size: 15px; /* Large font size for the title */
    color: #333; /* Dark color for better readability */
    font-weight: bold; /* Make the title bold */
  }
  
  .subtitle {
    font-size: 11px; 
    color: grey; 
    font-weight: 300;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 0.1px grey solid;

  }
  
  .titleCont{
    display: flex;
    align-items: center;


  }
  .feedbackButton{

    font-size: 11px;
    font-weight: 500; 
    color: white; 
    background-color: black;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 6px;margin-left: 12px;

  }
  .feedbackButton:hover, .saveNowButton:hover{
    opacity: 0.8;
  }
  .infoCont{
    display: flex;
    font-size: 11px;
    align-items: center;

  }
  .infoCont>div{
    margin-right: 10px;
  }
  .isSavedText{
    display: flex;
    flex-direction: column;
    align-items: end;

  }
  .saved{
    color: color(srgb 0.3623 0.9449 0.7532);

  }
  .unsaved{
    color: rgb(251, 151, 151);
    font-weight: 700;
  }
  .saveNowButton{

    font-size: 11px;
    font-weight: 500; 
    color: black; 
    background-color: rgb(251, 151, 151);;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 6px;
    cursor: pointer;
  }
  .autoSave{


    color: grey;
    font-size: 8px;
  }

  .parent{
    background-color: transparent;
  }
  .headerCont{
    display: flex;
    align-items: center;
  }
  .headerEditButton{
    color: rgb(61, 61, 61);
    margin-left: 15px;
    font-size: 14px;
  }

  .headerInput{
    outline: none;
    border: none;
    text-align: left;
    background-color: transparent;
  }
  .headerInput:focus{
    outline: none;
    border: none;

    text-align: left;
  }