.headingContainer {
    width: 100%;
    /*margin: 10px;
    margin-left: 73px;*/
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 130;
    display: flex;
    padding: 15px;
    padding-left: 80px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;

    border-bottom: 0.1px rgb(212, 210, 210) solid;
    box-shadow: 0 0 2px 0 rgb(212, 210, 210);

  }
  
  .title {
    font-size: 15px; /* Large font size for the title */
    color: #333; /* Dark color for better readability */
    font-weight: bold; /* Make the title bold */
  }
  
  .subtitle {
    font-size: 11px; 
    color: grey; 
    font-weight: 300;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 0.1px grey solid;

  }
  
  .titleCont{
    display: flex;
    align-items: center;


  }