.weatherContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  width: 376px;
  border-radius: 6px;
}

.searchContainer {
  width: 100%;
}
.weatherInfo {
  background: rgba(0, 0, 0, 0.15);
  padding: 13px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.currentWeather {
  margin-bottom: 20px;
}

.forecastWeather {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 13px;
}

.forecastDay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-right: 0.05px white solid;
  border-left: 0.05px white solid;
}

.nodeDrag {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.89);
  padding: 2px;
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.searchBar {
  padding: 20px;
  width: 100%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: black;
  font-size: 12px;
}
.searchBar:focus {
  outline: none;
}
.maxTemp,
.minTemp {
  font-size: 10px;
}

.icon {
  transform: scale(0.4);
}
.mainIcon {
  position: absolute;
  top: 14px;
  left: -12px;
  margin: 10px;
  z-index: 10;
  
}
