/* BasicTools.module.css */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: min-content;
    min-height: 80px;
    z-index: 1000;
    left: 0;
    margin: auto;

    
  }
.innerContainer{
    background-color: white;
    padding: 10px;
    border-radius: 6px;
    min-width: 150px;
    border:0.1px black solid;
    display: flex;
    justify-content: center;
    color: black;

}
  
.innerContainer>button{
  margin: 10px;
}