.baseCont{
    margin: 0px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 6px;
border: 1px solid #eee;
  padding: 0px !important;
}

.heading1{
    margin-top: 10px;
    margin-left: 56px;
    margin-bottom: 28;
    margin-left: 55px;
    font-size: 48px;
    font-weight: 700;
    color: rgb(63, 63, 63);
    background-color: transparent;
    /*font-family: Inter, "SF Pro Display", -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
  }
  .heading1:focus{
    outline: none;
  }
.colorCircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    border:0.1px black solid;
    z-index:1000;
  }
  
