.documentContainer{
  margin-left: 65px;
  padding-left: 0px;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
  height: 100%;
  position: absolute;
  padding-bottom: 25px;
  top: 0;
left: 0;
margin-top: 57px;
border: 1px #eee solid;
padding-top: 50px;
}

.heading1{
  width: 75%;
  margin-bottom: 28;
  margin-left: 55px;
  font-size: 48px;
  font-weight: 700;
  color: rgb(63, 63, 63);
  background-color: transparent;
  /*font-family: Inter, "SF Pro Display", -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;*/
}
.heading1:focus{
  outline: none;
}
.bn-container{
  height: 95%;
}

.bn-editor{
  background-color: transparent;
}
 
.bn-block-content{
  transition: none;
}
.bn-block-content:before{
  transition: none;
}
.bn-inline-content:has(>.ProseMirror-trailingBreak):before{
  font-style: normal;
}

.colorCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 12px;
  cursor: pointer;
  border:0.1px black solid;
  z-index: 10000;
}

.colorPicker {
  position: absolute;
  top: 100px;
  left: 5px;
  z-index: 300;
}

.saveNowButton{
  font-weight: 500; 
  font-size: 11px;
  color: black; 
  background-color: rgb(251, 151, 151);;
  padding: 5px;
  padding-left: 12px;
  margin: 4px;
  padding-right: 12px;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
right: 0;
margin-top: 12px;
margin-right: 12px;
top:0;
}