.container{
    display: flex;
    margin-top: 90px;
    margin-top: 55px;
    margin-left: 65px;
    justify-content: space-between;
    height: 100vh;
    
}
.container>div{
    width:100%;
    height: 100%;
}
  