.container{
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    border-left:  0.1px rgb(212, 210, 210) solid;
    padding-top: 53px;
    transition: transform 0.3s ease-in-out;
  /*will-change: transform;*/
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

}
.toggleButton {
    background: #f0f0f0;
    border: none;
    cursor: pointer;
  }
  
  /* Assuming you have some basic styles for .container when sidebar is visible */
  /* Add a class for when the sidebar is hidden and should be moved off-screen */
  .container.hidden {
    transform: translateX(-100%); /* Adjust this based on your sidebar's width */
  }